
.card{
   width: 290px;
   height: 180px;
   border-radius: 20px;
   border: 2px solid black;
   position: relative;

   .number{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      height: 30px;
      position: absolute;
      left: 70px;
      top: 90px;
   }

   .expire{
      position: absolute;
      height: 30px;
      bottom:0px;
      left: 15px;
   }

   .holder_name{
      position: absolute;
      height: 30px;
      bottom: 20px;
      left: 15px;
   }

   .brand{
      height: 40px;
      width: 60px;
      position: absolute;
      bottom: 5px;
      right: 10px;
   }
}

