.main_content{
	padding: 100px 0 100px 0;

	&__warning{
		text-align: center;
		padding: 20px;
		font-size: calc(15px + 7 * ((100vw - 320px) / (1280 - 320)));
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 200px;
		width: 100%;
		border: 4px solid rgb(224, 70, 70);
		border-radius: 20px;

		&_registr{
			cursor: pointer;
			transition: all .5s ease;
			color: #298cad;

			&:hover{
				color: black;
			}
		}
	}

	&__country_name{
		text-align: center;
		font-size: calc(18px + 9 * ((100vw - 320px) / (1280 - 320)));
		padding: 100px 0;
	}
}

.main_content__container{
	max-width:1200px;
	margin: 0 auto;
	padding: 0px 20px 100px 20px;
	}


	@media (max-width:767px) {

		.main_content{
			padding: 100px 0px 0px 0px;

		}

		.main_content__country_name{
			padding: 40px 0;
			}
	}

