.container{
   padding: 60px 0 0 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-weight: 600;
   position: relative;
   width: 350px ;
}

.NSPKMIR{
   background:  url('../../../../images/bankCard/2560px-Mir-logo.SVG.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.VISA{
   background:  url('../../../../images/bankCard/Visa_Inc._logo.svg.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.MASTERCARD{
   background:  url('../../../../images/bankCard/Mastercard-Logo.wine.png') ;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}



.CJSCALFA-BANK{
   background:  url('../../../../images/bankCard/alphaBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #ec1c1c;
}

.SBERBANK{
   background:  url('../../../../images/bankCard/sberBank.png') ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
   background-color: #084420;
}

.GAZPROMBANKOJSC{
   background:  url('../../../../images/bankCard/gazpromBank.png') ;
   background-color: #000;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.TINKOFFBANK{
   background:  url('../../../../images/bankCard/tinkoff.png') ;
   background-color: linear-gradient(90deg, rgba(0,0,0,1) 51%, rgba(214,214,214,1) 51%);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #ffffff;

   .brand{

      left: 5px !important;

   }
}

.VNESHTORGBANK{
   background:  url('../../../../images/bankCard/vtbBank.png') ;
   background-color: linear-gradient(90deg, rgba(28,55,245,1) 51%, rgba(0,0,0,1) 51%);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #fff;
}

.CBOTKRITIECJSC{
   background:  url('../../../../images/bankCard/otkritieBank.png') ;
   background-color: #e7e6e6;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #000;
}


.JSCBROSBANK{
   background:  url('../../../../images/bankCard/rosBank.png') ;
   background-color: linear-gradient(180deg, rgba(255,0,0,1) 51%, rgba(254,254,254,1) 51%);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: #000;
}
   
.button{
   height: 48px;
   position: relative;
   transition: ease .5s all;
   margin: 30px auto 10px auto;
   border: none;
   width: 170px;
   background: #298cad;
   color:white;
   font-size: 18px;
   text-transform: uppercase;
   display: block;
   text-align: center;
   line-height: 48px;
   border-radius: 10px;

   &__disabled{
      height: 48px;
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      display: block;
      margin: 30px auto 10px auto;
      border-radius: 10px;
      cursor: not-allowed;
   }

   &:hover{
      transition: ease .5s all;
      background: rgb(35, 78, 158);
   }
}

.card_templates{
   padding: 20px 5px;
   position: absolute;
   right: -500px;
   top: 0;
   width: 450px;
   height: 400px;
   border-radius: 10px;
   border: 2px solid #000;
   background-color: #fff;

   &__title{
      font-size: 18px;
      text-align: center;
   }

   &__buttons_container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }

   &__button{
      font-size: 14px;
      line-height: 30px;
   }
}



@media (max-width:1400px) {

   .container{
      padding: 20px 0 0 0;
   }


   .card_templates{
      position: static;
      margin: 40px 0;
      width: 300px;
      border: none;

      &__button{
         font-size: 14px !important;
         
         text-transform: capitalize;
      }
   }
}
